<div class="white-head text-center lower no-margin">
    <h3>Continue your participation</h3>
    <div class="blue">
        <h4>Visit www.dellallrounder.in</h4>
    </div>
    <div class="centerlaptop">
        <div id="savearea" class="text-center" ng-class="canvascolor" >
            <div class="laptop" ng-class="laptopclass">
                <div class="">
                    <div class="certitext">
                        <p class="nameclass" style="font-size:24px">{{uname}}</p>
                        <p>completed the</br> Dell All Rounder Challenge </br>in {{mins}} mins and {{seconds}} seconds</p>
                    </div>
                    <img class="messageimage">
                </div>
            </div>
        </div>
    </div>
    <div id="img-out"></div>
    <div class="padding-20 text-center">
        <!--<button class="btn btn-default btn-dell clear btnSave">Save</button>-->
        <button class="btn btn-default btn-dell clear logout" ng-show='showlogout==1' ng-click="logout();">Logout</button>
    </div>