
<div class="text-center">
    <h3 style="color:white;">Thankyou for your participation</h3>
    <p>Visit Dell India facebook page to view your entry</p>
</div>
<div class="centerlaptop">
    <div id="savearea" class="text-center">
        <div class="laptop">
            <div class="">
                <div class="certitext">
                    <h2>{{name}}</h2>
                    <p>completed the</br> Dell All Rounder Challenge </br>in {{mins}} mins and {{seconds}} seconds</p>
                </div>
                <img class="messageimage">
            </div>
        </div>
    </div>
</div>
<div id="img-out"></div>
<div class="padding-20 text-center">
    <!--<button class="btn btn-default btn-dell clear btnSave">Save</button>-->
    <button class="btn btn-default btn-dell clear" ng-click="logout();">Logout</button>
</div>