<div class="text-center">
    <div class="timer">
        <h3>Time</h3>
        <div class="times"> {{mins}}:{{seconds}}</div>
    </div>
</div>

<div class="white-overlay">
    <h2>Connect the Dots</h2>
    <div class="text-center" ng-click="changenumber();">
        <img ng-src="img/dots/connect_{{connectnumber}}.png" alt="">
    </div>
</div>


<div class="padding-20 text-center"><!--<button class="btn btn-default btn-dell" href="#/message">Submit</button>-->
<button class="btn btn-default btn-dell submit" ng-click="gotomessage();">Submit</button>
</div>
