<div class="template content">
    <div class="white-head text-center">
        <h3>Be a Dell</h3>
        <h1>All Rounder</h1>
    </div>

    <div class="row">
        <div class="col-md-5">
            <div class="padding-top dell-input">
                <form ng-submit="register(submit);">
                    <input type="text" required="required" class="form-control" placeholder="Name" ng-model="submit.name">
                    <input type="email" class="form-control" placeholder="Email Id" ng-model="submit.email">
                    <input type="text" onkeypress='return event.charCode >= 48 && event.charCode <= 57' class="form-control" placeholder="Mobile Number" ng-model="submit.phone">
                    <input type="text" class="form-control" placeholder="City" ng-model="submit.city">
                    <div class="text-center">
                        <button class="btn btn-default btn-dell" type="submit" ng-hide="submit.name=='' || submit.email=='' || submit.phone=='' || !submit.email || !submit.city" ng-click="register(submit);">Submit</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-md-7">
            <img src="img/laptop.png" alt="" class="img-responsive">
        </div>
    </div>
</div>