<div class="text-center">
    <div class="timer">
        <h3>Time</h3>
        <div class="times"> {{mins}}:{{seconds}}</div>
    </div>
</div>

<div class="white-overlay padding-10">

    <div class="row cricketer">
        <div class="col-xs-3">
            <img src="img/virat.png" alt="" class="img-responsive">
        </div>
        <div class="col-xs-3">
            <img src="img/virat.png" alt="" class="img-responsive">
        </div>
        <div class="col-xs-3">
            <img src="img/virat.png" alt="" class="img-responsive">
        </div>
        <div class="col-xs-3">
            <img src="img/virat.png" alt="" class="img-responsive">
        </div>
    </div>

    <!--<ul class="draglist">
        <li ng-repeat="obj in draggableObjects" ng-drop="true" ng-drop-success="onDropComplete($index, $data,$event)">
            <div ng-drag="true" ng-drag-data="obj" ng-class="obj.name">
                <img src="img/jersey.png" alt="" class="img-responsive">
            <div class="jersey-number">07</div>
            </div>
        </li>
    </ul>-->
    <div class="showscore" ng-show="scoreshow">
        You Scored </br> {{score}}/4
    </div>
    <div class="row margin-50 cricketer jersey">
        <div ng-repeat="obj in draggableObjects" class="col-xs-3 active" ng-drop="true" ng-drop-success="onDropComplete($index, $data,$event)">
            <div ng-drag="true" class="jerseyinside" ng-drag-data="obj" ng-class="obj.name">
                <img src="img/jersey.png" alt="" class="img-responsive">
                <div class="jersey-number">{{obj.name}}</div>
            </div>
        </div>
        <!--<div class="col-xs-3" ng-drop="true" ng-drop-success="onDropComplete(1, $data,$event)">
            <img src="img/jersey.png" alt="" class="img-responsive">
            <div class="jersey-number">06</div>
        </div>
        <div class="col-xs-3" ng-drop="true" ng-drop-success="onDropComplete(2, $data,$event)">
            <img src="img/jersey.png" alt="" class="img-responsive">
            <div class="jersey-number">08</div>
        </div>
        <div class="col-xs-3" ng-drop="true" ng-drop-success="onDropComplete(3, $data,$event)">
            <img src="img/jersey.png" alt="" class="img-responsive">
            <div class="jersey-number">09</div>
        </div>-->
    </div>

</div>


<div class="padding-20 text-center">
    <button class="btn btn-default btn-dell" ng-click="getresult()">Submit</button>
</div>