<div class="margin-50 pad-top white-overlay text-center">
    <script type="text/javascript">
    $(document).ready(function()
		{
            $("#canvase").jqScribble({width:"1233",height:"564",backgroundColor:"rgba(0,0,0,0)"});
        $('.clear').click(function() {
            $('#canvase').data('jqScribble').clear();
            /*$('#canvase').data('jqScribble').save()*/
        });
        
		});
    </script>
    <div class="writehere1" >
    <canvas id="canvase" width="576px;" class="writehere"></canvas>
    </div>
</div>
<div class="padding-20 text-center">
    <button class="btn btn-default btn-dell clear">Clear</button>
    <button class="btn btn-default btn-dell" ng-click="submitmessage();">Submit</button>
</div>