<input type="checkbox" ng-model="think.flexibility" ng-true-value="1"  ng-false-value="0"> Flexibility
<input type="checkbox" ng-model="think.lightweight" ng-true-value="1"  ng-false-value="0"> Light weight
<input type="checkbox" ng-model="think.easytocarry" ng-true-value="1"  ng-false-value="0"> East to carry
<input type="checkbox" ng-model="think.allfeature" ng-true-value="1"  ng-false-value="0"> All of above
<input type="checkbox" ng-model="think.screenclarity" ng-true-value="1"  ng-false-value="0"> Screen clarity and touch pad
<input type="checkbox" ng-model="think.stylus" ng-true-value="1"  ng-false-value="0"> Stylus
<input type="checkbox" ng-model="think.easytouse" ng-true-value="1"  ng-false-value="0"> Easy to use
<textarea ng-model="think.otherfeature"></textarea>
<input type="checkbox" ng-model="think.travel" ng-true-value="1"  ng-false-value="0"> Convienient for travel
<input type="checkbox" ng-model="think.harddrive" ng-true-value="1"  ng-false-value="0"> Plenty of hard drive space
<input type="checkbox" ng-model="think.alluse" ng-true-value="1"  ng-false-value="0"> All of above
<input type="checkbox" ng-model="think.versatile" ng-true-value="1"  ng-false-value="0"> Versatile device for work and home
<input type="checkbox" ng-model="think.builtinstylus" ng-true-value="1"  ng-false-value="0"> Freedom of built-in stylus
<textarea ng-model="think.otheruse"></textarea>
<input type="checkbox" ng-model="think.recommend" ng-true-value="1"  ng-false-value="0"> Recommend
<input type="checkbox" ng-model="think.updates" ng-true-value="1"  ng-false-value="0"> Update
<div class="padding-20 text-center">
    <button class="btn btn-default btn-dell" ng-click="thinksubmit()">Submit</button>
</div>